.expense-item {
    display: flex;
    margin: 1.25rem 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 82, 82);
    box-shadow: grey;
    height: max-content;
    font-size: large;
}

.expenseitem-reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.expenseitem-amount {
    display: flex;
    height: 3rem;
    min-width: 5rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(107, 12, 107);
}