.expenseitem-date {
    display: flex;
    flex-direction: column;
    height: 5.5rem;
    width: 5.5rem;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #2a2a2a;
}

.expenseitem-date_month {
    font-size: 0.75rem;
    font-weight: bold;
}

.expenseitem-date_year {
    font-size: 0.75rem;
}

.expenseitem-date_date {
    font-size: 1.5rem;
    font-weight: bold;
}