.expense-item {
    display: flex;
    margin: 2rem 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 82, 82);
    box-shadow: grey;
    border-radius: 20px;
    height: 75px;
    font-size: large;
}

.expenseitem-date {
    display: flex;
    height: 50%;
    width: 10%;
    margin-left: 10px;
    color: black;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(197, 197, 197);
}

.expenseitem-reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.expenseitem-amount {
    display: flex;
    height: 50px;
    width: 10vw;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(0, 43, 92);
}