.new-expense_controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense_control label {
    font-weight: bold;
    margin: 0 0 0.2rem 0.5rem;
    display: block;
}

.new-expense_control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 90%;
}

.new-expense_submit {
    text-align: right;
}