body {
    background-color: grey;
    color: blanchedalmond;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 2em;
}

.App {
    text-align: center;
}